// reponsive
// 
@screen-xxs-min:    320px;
@screen-xs-min:     480px;
@screen-sm-min:     600px;
@screen-md-min:     1028px;
@screen-lg-min:     1280px;

@screen-boostrap-md: 991px;
@screen-boostrap-sm: 768px;

@screen-xxs-max:    (@screen-xs-min - 1);
@screen-xs-max:     (@screen-sm-min - 1);
@screen-sm-max:     (@screen-md-min - 1);
@screen-md-max:     (@screen-lg-min - 1);

@phone-min:         ~"only screen and (min-width: @{screen-xxs-min})";
@phone-min-strict:  ~"only screen and (max-width: @{screen-xxs-max})";
@phone:             ~"only screen and (min-width: @{screen-xs-min})";
@phone-strict:      ~"only screen and (max-width: @{screen-xs-max})";
@tablet:            ~"only screen and (min-width: @{screen-sm-min})";
@tablet-strict:     ~"only screen and (max-width: @{screen-sm-max})";
@desktop:           ~"only screen and (min-width: @{screen-md-min})";
@desktop-strict:    ~"only screen and (max-width: @{screen-md-max})";
@large:             ~"only screen and (min-width: @{screen-lg-min})";


@desktop-bootstrap: ~"only screen and (min-width: @{screen-boostrap-md})";
@tablet-bootstrap: ~"only screen and (min-width: @{screen-boostrap-sm})";



//Boostrap

//
// color
@black: #222;
@violet:#8365ad;
@yealow: rgba(248,186,4);
@gray:rgba(209,209,209);
 .yealow {
	 color: #f8ba04;
}
 .gray {
	 color: #d1d1d1;
}


// set font-face 
.font-face(@font-family){
	@font-face {
		font-family: @font-family;
		src: url('../fonts/@{font-family}.ttf');
	}
}

.font-face(Montserrat-Regular);
.mont-re(@size: 14px){
	font-family: Montserrat-Regular;
	font-size: @size;
}
.font-face(Montserrat-Medium);
.mont-me(@size: 14px){
	font-family: Montserrat-Medium;
	font-size: @size;
}
.font-face(Montserrat-SemiBold);
.mont-sebold(@size: 14px){
	font-family: Montserrat-SemiBold;
	font-size: @size;
}

.font-face(Montserrat-Bold);
.mont-bold(@size: 14px){
	font-family: Montserrat-Bold;
	font-size: @size;
}
.font-face(Montserrat-ExtraBold);
.mont-exbold(@size: 14px){
	font-family: Montserrat-ExtraBold;
	font-size: @size;
}
.font-face(Montserrat-Black);
.mont-black(@size: 14px){
	font-family: Montserrat-Black;
	font-size: @size;
}

.font-face(OpenSans-Regular);
.opens-re(@size: 14px){
	font-family: OpenSans-Regular;
	font-size: @size;
}

.font-face(OpenSans-Bold);
.opens-bold(@size: 14px){
	font-family: OpenSans-Bold;
	font-size: @size;
}


.font-face(Pacifico-Regular);
.pacif-re(@size: 14px){
	font-family: Pacifico-Regular;
	font-size: @size;
}

// end set font-face 
// 
// 
// // center vetical
.flex-item-center{
	display: flex;
	align-items: center;
}
//



 .center-div {
	 margin: 0 auto;
}
 .content {
	 width: 1903px;
	 margin: 0 auto;
}